/*
 * Default Screen Size (Large)
 */
body {
    background-color: var(--color-blue-highlight);
}

.container {
  max-width: 960px;
}

.side-info {
    background-color: var(--color-dark-gray);
    min-height: 100vh;
}

#header-toggle {
    display: none;
}

.main-content {
    background-color: var(--color-blue-highlight);
    padding: 40px;
    min-height: 100vh;
}

#smallscreen-info-pane {
    display: none;
}

/*
 * Less than 989px behavior.
 */
@media (max-width: 989px) {
    .side-info {
        min-height: 0px;
        height: 280px;
    }

    #header-toggle {
        display: block;
        color: var(--color-blue-highlight);
    }
}

/*
 * Between 989px and 620px.
 */
@media (max-width: 989px) and (min-width: 620px) {
    #smallscreen-info-pane[show="true"] {
        margin-bottom: 30px;
        display: block;
    }
}

/*
 * Small Screen behavior, less than 620px.
 */
@media (max-width: 620px) {
    .main-content {
        padding: 0px;
    }

    #smallscreen-info-pane[show="true"] {
        margin-bottom: 0px;
        display: block;
    }
}

/*
 * Extra utilities
 */
.overflow-hidden { overflow: hidden; }
