body {
    background-color: var(--color-blue-highlight);
}

.container {
  max-width: 960px;
}


.side-info {
    background-color: var(--color-dark-gray);
    height: 280px;
}

@media (min-width: 989px) {
    .side-info {
        min-height: 100vh;
    }
}

.main-content {
    background-color: var(--color-blue-highlight);
    padding: 0px;
    min-height: 100vh;
}

@media (min-width: 620px) {
    .main-content {
        padding: 40px;
    }
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
