<!doctype html>
<html lang="en">

<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119542722-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-119542722-1');
	</script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../../../favicon.ico">

	<title>Sam Jentsch - Portfolio</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">

	<!-- Custom styles for this template -->
	<link href="custom.css" rel="stylesheet">

	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
		integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
		crossorigin="anonymous"></script>
</head>

<div class="container-fluid" style="">
	<div class="row">

		<div class="col-lg-3 side-info">
			<div class="text-center overflow-hidden">
				<div class="my-3 p-3 user-select-none">
					<h2 id="header-text" data-interval="2000" data-lead="I Love to " data-end="Solve Problems."
						data-text='["Program.", "Read.", "Write.", "Learn.", "Run.", "Design."]'
						class="display-5 white-text"></h2>

					<div class='mx-auto my-3 profile-picture'>
						<img src="assets/images/profile.jpg" alt="" class="mask-profile">
					</div>

					<p class="lead white-text">Sam Jentsch</p>
					<div id="header-toggle" class="btn btn-default" aria-label="Left Align">
						<i id='header-toggle-icon' pulse="true" class="fas fa-asterisk fa-2x"></i>
					</div>

					<div class='connect-icon-container connect-icon-container-desktop'>
						<!-- {% include 'components/icon-links.html' %} -->
						<div class='connect-icon'>
							<a href='https://www.linkedin.com/in/sam-jentsch/'><i class="fab fa-linkedin-in"></i></a>
						</div>
						<div class='connect-icon'>
							<a href='https://github.com/samclayj'><i class="fab fa-github"></i></a>
						</div>
						<div class='connect-icon'>
							<a href='https://www.instagram.com/samclayj/'><i class="fab fa-instagram"></i></a>
						</div>
						<div class='connect-icon'>
							<a href=""><i class="fas fa-file-alt"></i></a>
						</div>
					</div>

					<div class='bio-text'>
						<!-- {% include 'components/biotext.html' %} -->
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-9 main-content">

			<!-- Mobile header -->
			<div id="smallscreen-info-pane" class="bg-primary text-center overflow-hidden">
				<div class="my-3 py-3">
					<h2 class="display-5">About me.</h2>
					<div class='mx-auto my-3'>
						<img src="{{ url_for('static', filename='assets/images/profile.jpg') }}" alt=""
							class="mask-profile">
					</div>
					<div class='connect-icon-container connect-icon-container-mobile'>
						<!-- {% include 'components/icon-links.html' %} -->
						<div class='connect-icon'>
							<a href='https://www.linkedin.com/in/sam-jentsch/'><i class="fab fa-linkedin-in"></i></a>
						</div>
						<div class='connect-icon'>
							<a href='https://github.com/samclayj'><i class="fab fa-github"></i></a>
						</div>
						<div class='connect-icon'>
							<a href='https://www.instagram.com/samclayj/'><i class="fab fa-instagram"></i></a>
						</div>
						<div class='connect-icon'>
							<a href=""><i class="fas fa-file-alt"></i></a>
						</div>
					</div>
					<p class="lead">Something witty should go here eventually.</p>
					<hr>
					<div class='bio-text-mobile'>
						<!-- {% include 'components/biotext.html' %} -->
					</div>
				</div>
			</div>

			<!-- {% block card %}{% endblock %} -->
			<!-- Content will be inside the primary card view of the base template-->
			<div class="card-box bg-primary text-center overflow-hidden">
				<div class="my-3 py-3">
					<h2 class="display-5">Work Experience</h2>
				</div>

				<hr>

				<div class="resume-container my-3 py-3">

					<!-- Google -->
					<div class="scroll-in experience-title">
						<div class="experience-component">
							Google
						</div>
						<div class="experience-component align-right">
							July 2017 - Present
						</div>
					</div>

					<div class="scroll-in experience-subtitle">
						<div class="experience-component">
							Software Engineer
						</div>
						<div class="experience-component align-right">
							Mountain View, CA
						</div>
					</div>

					<div class="scroll-in experience-body">
						<ul>
							<li>Primary owner of 3 web applications responsible for interacting with a proprietary
								testing infrastructure. Optimized load times to improve performance by ~50%.</li>
							<li>Primary owner of a comprehensive service for highly configurable hardware regression
								testing on fleets of machines.</li>
							<li>Responsible for gathering requirements from cross functional teams to improve user
								experience.</li>
							<li>Wrote design documents for feature and architecture changes to gather design input from
								team members.</li>
							<li>Led design and planning efforts spanning 1+ years.</li>
						</ul>
					</div>

					<!-- Forma -->
					<div class="scroll-in experience-title">
						<div class="experience-component">
							Forma
						</div>
						<div class="experience-component align-right">
							March 2017 - June 2017
						</div>
					</div>

					<div class="scroll-in experience-subtitle">
						<div class="experience-component">
							Lead Developer
						</div>
						<div class="experience-component align-right">
							Plano, TX
						</div>
					</div>

					<div class="scroll-in experience-body">
						<ul>
							<li>Lead developer in charge of designing/implementing architecture for a socially driven
								application.</li>
							<li>Presented and evaluated choices for data design, security and authentication, and
								three-tier architecture.</li>
							<li>Implemented this solution using Angular 4, Node.js, and PostgreSQL.</li>
							<li>Led a team of 4 through project development and deployment of a MVP.</li>
						</ul>
					</div>

					<!-- NASA -->
					<div class="scroll-in experience-title">
						<div class="experience-component">
							NASA
						</div>
						<div class="experience-component align-right">
							May 2016 - August 2016
						</div>
					</div>

					<div class="scroll-in experience-subtitle">
						<div class="experience-component">
							Intern
						</div>
						<div class="experience-component align-right">
							Houston, TX
						</div>
					</div>

					<div class="scroll-in experience-body">
						<ul>
							<li>Developed an AngularJS application for Model Based System Engineering project lifecycle
								management.</li>
							<li>Gathered requirements to improve system for coordinating between NASA, Boeing, SpaceX
								and others.</li>
							<li>Delivered 11 instead of 2 planned modules, accelerating launch schedule by 2 months.
							</li>
							<li>Received <em>Outstanding Student Intern</em> award for significant contributions.</li>
						</ul>
					</div>

					<!-- Stephen F. Austin State University -->
					<div class="scroll-in experience-title">
						<div class="experience-component">
							Stephen F. Austin
						</div>
						<div class="experience-component align-right">
							August 2013 - May 2016
						</div>
					</div>

					<div class="scroll-in experience-subtitle">
						<div class="experience-component">
							Teacher's Assistant
						</div>
						<div class="experience-component align-right">
							Nacogdoches, TX
						</div>
					</div>

					<div class="scroll-in experience-body">
						<ul>
							<li>Lead Teacher’s Assistant for Data Structures course in charge of grading all
								homework/projects for 80 students.</li>
							<li>Lectured course periods and assisted students in learning important concepts.</li>
							<li>Developed a new section of SFA 101, the freshman success class for assisting and
								mentoring STEM students.</li>
						</ul>
					</div>

					<!-- GE 2 -->
					<div class="scroll-in experience-title">
						<div class="experience-component">
							General Electric
						</div>
						<div class="experience-component align-right">
							June 2015 - August 2015
						</div>
					</div>

					<div class="scroll-in experience-subtitle">
						<div class="experience-component">
							Intern (Infrastructure)
						</div>
						<div class="experience-component align-right">
							Houston, TX
						</div>
					</div>

					<div class="scroll-in experience-body">
						<ul>
							<li>Worked on infrastructure migration project upgrading the company’s Enterprise Resource
								Planning systems.</li>
							<li>Developed plans for migration and coordinated 130 application teams through testing and
								transition phases.</li>
							<li>Won 1st Place in <em>GE Innovation Contest</em> for creating a factory analytics tool
								with a Raspberry Pi.</li>
						</ul>
					</div>

					<!-- GE 1 -->
					<div class="scroll-in experience-title">
						<div class="experience-component">
							General Electric
						</div>
						<div class="experience-component align-right">
							June 2014 - August 2014
						</div>
					</div>

					<div class="scroll-in experience-subtitle">
						<div class="experience-component">
							Intern (Security)
						</div>
						<div class="experience-component align-right">
							Houston, TX
						</div>
					</div>

					<div class="scroll-in experience-body">
						<ul>
							<li>Worked on on cybersecurity team to evaluate security products, research bad actors, and
								report on threatscapes.</li>
							<li>Used threat analysis/mitigation tools to track malware and perform computer forensics.
							</li>
							<li>Developed a cyber intelligence portal to consolidate and report interactive/real-time
								threat information.</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="card-box bg-primary text-center overflow-hidden">
				<div class="my-3 py-3 scroll-in">
					<h2 class="display-5">Programming Languages</h2>
				</div>

				<hr>

				<div class="container my-3 py-3 scroll-in">
					<canvas id="language-chart">

					</canvas>
				</div>
			</div>

			<div class="card-box bg-primary text-center overflow-hidden">
				<div class="my-3 py-3 scroll-in">
					<h2 class="display-5">Education</h2>
				</div>

				<hr>
				<div class="resume-container scroll-in my-3 py-3">
					<div class="experience-title">
						<div class="experience-component">
							B.S. Computer Science/Math
						</div>
						<div class="experience-component align-right">
							May 2017
						</div>
					</div>

					<div class="experience-subtitle">
						<div class="experience-component">
							GPA 3.97/4.0
						</div>
						<div class="experience-component align-right">
							Nacogdoches, TX
						</div>
					</div>

					<div class="experience-body">
						<ul>
							<li>President and Member, <a href='http://upe.acm.org'>Upsilon Pi Epsilon</a> (Computer
								Science Honors Society)</li>
							<li>Member, <a href=http://pme-math.org/what-is-pme'>Pi Mu Epsilon</a> (Mathematics Honors
								Society)</li>
							<li>University Scholar and Member, SFA School of Honors</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"
	crossorigin="anonymous"></script>

<script src="./js/holder.min.js"></script>
<script src="./js/site.js"></script>
<script src="./js/type-sim.js"></script>
<script src="./js/scrollin.js"></script>
<script src="./js/chart-helper.js"></script>
<script>
	window.onload = function () {
		registerEvents();
		startTyping();

		const pageTop = $(document).scrollTop();
		const pageBottom = pageTop + $(window).height();
		ChartHelper.chartAnimate(pageTop, pageBottom);
		ScrollIn.scrollInBehavior(pageTop, pageBottom);
	};
	$(document).on("scroll", function () {
		const pageTop = $(document).scrollTop();
		const pageBottom = pageTop + $(window).height();
		ChartHelper.chartAnimate(pageTop, pageBottom);
		ScrollIn.scrollInBehavior(pageTop, pageBottom);
	});
</script>
</body>

</html>